{
  "extends": ["airbnb", "eslint:recommended", "plugin:import/errors", "plugin:import/warnings"],
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "jsx-a11y", "import"],
  "rules": {
    "jsx-a11y/img-redundant-alt": [ 2, {
      "components": [ "Image" ],
      "words": [ "Bild", "Foto" ]
    }],
    "react/jsx-props-no-spreading": "off",
    "import/no-unresolved": 0,
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "import/export": 2,
    "import/order": ["error", { "groups": ["index"] }],
    "sort-keys": "off",
    "sort-imports": "off",
    "no-shadow": "off",
    "max-classes-per-file": ["error", 10],
    "arrow-parens": "off",
    "no-console": ["error", { "allow": ["log", "error"] }],
    "comma-dangle": "off",
    "no-bitwise": "error",

    "block-spacing": "off",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "keyword-spacing": ["error", { "after": true }],
    "space-before-blocks": "error",
    "space-infix-ops": "error",
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "spaced-comment": [
      "error",
      "always",
      {
        "line": {
          "markers": ["/"],
          "exceptions": ["-", "+"]
        },
        "block": {
          "markers": ["!"],
          "exceptions": ["*"],
          "balanced": true
        }
      }
    ],

    "no-empty": "off",
    "require-await": "off",
    "linebreak-style": 0,
    "no-else-return": ["error", { "allowElseIf": false }],
    "import/no-default-export": "error",
    "@typescript-eslint/no-unused-vars": [2, { "args": "none" }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never",
        "mjs": "never"
      }
    ],
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1
      }
    ],
    "quotes": ["error", "double"],
    "max-len": ["error", 120]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".js", ".tsx", ".ts"],
        "map": [
          ["common", "./src/common"],
          ["pages", "./src/pages"],
          ["abstraction", "./src/abstraction"],
          ["routes", "./src/routes"],
          ["assets", "./src/assets"]
        ]
      }
    }
  }
}
