.cards-section{
    width: 100%;
    background-color:rgba(239,239,239,0.500);
    margin-top:75px;
    padding-bottom: 75px;
    margin-bottom:75px;
    h2{
        padding-top:75px;
        padding-bottom: 20px;
    }
}