.wrapper{
  margin-top:30px;
  margin-left:30px;
  margin-right:30px;
    .slider{        
        height: 500px;
        border-radius: 5px;
        .slick-next {
          margin-right: 120px;
         &::before {
           display: none;
         }
       }
       
       .slick-prev {
         margin-left: 100px;
         z-index: 100;
         &::before {
           display: none;
         }
       }
       .box{
         height: 500px;
         border:1px solid black;
       }
     }
}
