.card{
.wrapper-card{
    padding-top: 25px;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px 10px #eeee;
    border-radius: 4px;
    height: 350px;
  
    .title{
        padding-top: 20px;
        font-size: 18px;
        padding-left: 10px;
       
    }
    .discription{
        padding-bottom:20px;
        padding-left: 10px;
       
    }

}
.custom-button-card{
    color:  black !important;
    background-color: #ffffff !important;
    width: 100% !important;
    border-radius:0 !important;
    height: 50px !important;
    font-size: 15px !important;
    margin-top:5px !important;

    &:active{
        background-color:rgba(125, 220, 255, 0.993) !important;
    }
    &:hover{
        background-color:rgba(125, 220, 255, 0.993) !important;
    }
}
}
